# codeowners for all files in the repo
* @koko1123 @rdave8

# codeowners for all files in the tests directory
test/ @koko1123 @rdave8

# codeowners for all files in the src directory
src/ @koko1123 @rdave8

# codeowners for all files in the scripts directory
script/ @koko1123 @rdave8